.content-section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1113%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 0.41)'%3e%3c/rect%3e%3cpath d='M1277.498%2c442.654C1312.522%2c444.554%2c1342.476%2c417.765%2c1357.843%2c386.236C1371.507%2c358.202%2c1362.826%2c326.595%2c1347.225%2c299.591C1331.634%2c272.603%2c1308.666%2c247.134%2c1277.498%2c247.162C1246.365%2c247.19%2c1222.077%2c271.954%2c1207.986%2c299.716C1195.275%2c324.759%2c1198.672%2c353.012%2c1210.954%2c378.268C1225.422%2c408.018%2c1244.466%2c440.862%2c1277.498%2c442.654' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M227.57547325443977 283.798912138491L253.44830853462705 430.53105248498 400.18044888111604 404.6582172047927 374.3076136009288 257.9260768583037z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M180.27647666793897 498.37114183683974L199.62510168571538 598.420155451852 267.863610902848 541.1612475356686z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1137.3661472165375 183.23906240663194L1178.3502798528364 70.63608343246742 1024.763168242373 142.25492977033304z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M11.947729866321737 159.80293442714802L106.03645652638366 203.78644313104587 99.70316884065667 113.21620962972116z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M503.06 4.86 a159.69 159.69 0 1 0 319.38 0 a159.69 159.69 0 1 0 -319.38 0z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1249.529464381556 380.08612691043515L1409.3837445239026 422.91895218123545 1292.3622896523561 220.23184676808853z' fill='rgba(18%2c 122%2c 201%2c 0.26)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1113'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.banner {
  background-image: url(../../../../assets/images/hero.jpg);
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 400px;
  font-size: 4rem;
  color: #f2f2f2;
}
// .grid-container {
//   columns: 3;
//   column-gap: 1rem;
//   opacity: 0.8;
//   .image-container {
//     img,
//     video {
//       border-radius: 3px;
//       &:hover {
//         opacity: 1;
//         // border: 5px solid #dddddd;
//         box-shadow: 0px 0px 5px 3px #474747;
//         transform: scale(1.05);
//         transition: transform 0.3s ease;
//         &::after {
//           content: attr(data-caption);
//         }
//       }
//     }
//   }
// }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between grid items as needed */
  padding: 20px; /* Initial padding for left and right sides */
  max-width: 1080px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container */
}

.image-container {
  position: relative;
  border: 2px solid #f2f2f2;
  border-radius: 4px;

  .img-item {
    width: 100%;
    height: 100%; /* Set height to 100% to prevent stretching */
    object-fit: cover; /* Ensure images maintain aspect ratio */
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
      
    }
  }
  caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transform: translateY(200%);
    transition: all 0.3s ease;
  }
  &:hover{
    caption {
      transform: translateY(0);
    }
  }
}

/* Hover animation for image items */
