@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

$primary: #003459;
$secondry: #749bc2;

$primary-text: #f6f4eb;
$secondry-text: #f2f2f2;

$primary-bg: #252525;
$secondry-bg: #1b1b1b;

$header-bg: #2b2b2b;

$primary-btn: #284b63;
$secondry-btn: #2b2b2b;