@import "../../../styles.scss";

.content-section {
  // background-image: var(--techSvg);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: calc(100vh - 86px);
  margin-bottom: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
  @media screen and (max-width: 768px) {
    height: 100%;
    scroll-snap-type: none;
  }
  .scrollable {
    height: calc(100vh - 86px);
    scroll-snap-align: start;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 100%;
      margin-bottom: 40px;
    }
    .heading {
      font-size: calc(12px + 3vw);
    }
    .intro,
    .line2 {
      @media screen and (max-width: 768px) {
        font-size: calc(14px);
      }
    }
    &:nth-child(odd)::after {
      content: "";
      position: absolute;
      bottom: -170px;
      right: -150px;
      width: 500px;
      height: 330px;
      background: url("../../../assets/images/bg-pattern.svg") no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      filter: blur(8px);
      opacity: 0.5;
      @media screen and (max-width: 768px) {
        background-size: 50%;
        opacity: 0.2;
      }
    }
    &:nth-child(even)::after {
      content: "";
      position: absolute;
      bottom: -170px;
      left: -150px;
      width: 500px;
      height: 330px;
      background: url("../../../assets/images/bg-pattern.svg") no-repeat;
      background-size: contain;
      filter: blur(8px);
      opacity: 0.5;
      animation: shake 10s ease-in-out infinite;
      @media screen and (max-width: 768px) {
        background-size: 50%;
        opacity: 0.2;
      }
    }
  }
  .banner {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    position: relative;
    @media screen and (max-width: 768px) {
      gap: 20px;
    }
    .bannerText {
      position: relative;
      .line1 {
        overflow: hidden;
        font-size: calc(12px + 3vw);
      }
      .line2 {
        font-size: calc(12px + 1vw);
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 40%;
        height: 70svh;
        top: -25dvh;
        left: 100%;
        --dot-bg: #252525;
        --dot-color: white;
        --dot-size: 2px;
        --dot-space: 40px;
        background: linear-gradient(
              90deg,
              var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
              transparent 1%
            )
            center/var(--dot-space) var(--dot-space),
          linear-gradient(
              var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
              transparent 1%
            )
            center/var(--dot-space) var(--dot-space),
          var(--dot-color);
        opacity: 0.3;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      * {
        opacity: 0;
        @media screen and (max-width: 768px) {
          opacity: 1;
        }
      }
    }
    .heroSvg {
      opacity: 0;
      @media screen and (max-width: 768px) {
        opacity: 1;
      }
    }
    .goi {
      position: absolute;
      bottom: -40px;
      left: -40px;
      width: 300px;
      animation: wobble 5s ease-in-out infinite;
      @media screen and (max-width: 768px) {
        opacity: 0;
      }
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      .heroSvg {
        order: -1;
        img {
          display: block;
          width: 70%;
          margin: 0 auto;
        }
      }
    }
    // &:before{
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: 300px;
    //   height: 100px;
    //   background: url('../../../assets/images/mumbai_city.svg') no-repeat;
    //   background-size: contain;
    // }
  }
  .skills {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px) {
      opacity: 1;
      justify-items: left;
    }
    .intro {
      max-width: 1000px;
      opacity: 0;
      @media screen and (max-width: 768px) {
        opacity: 1;
      }
    }
    .skillset {
      margin-top: 40px;
      opacity: 0;
      @media screen and (max-width: 768px) {
        opacity: 1;
      }
      picture {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 60px;
        max-width: 1000px;
        @media screen and (max-width: 768px) {
          gap: 30px;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          opacity: 0;
          @media screen and (max-width: 768px) {
            opacity: 1;
          }
          &:nth-child(1)::after {
            content: "HTML5";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(2)::after {
            content: "CSS3";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(3)::after {
            content: "ANGULAR";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(4)::after {
            content: "NGRX";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(5)::after {
            content: "RXJS";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(6)::after {
            content: "JAVASCRIPT";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(7)::after {
            content: "JQUERY";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(8)::after {
            content: "REACT";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(9)::after {
            content: "GIT";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(10)::after {
            content: "GITLAB";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(11)::after {
            content: "SVN";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(12)::after {
            content: "REST";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(13)::after {
            content: "BOOTSTRAP";
            color: #ff9800;
            font-weight: 600;
          }
          &:nth-child(14)::after {
            content: "SCSS";
            color: #ff9800;
            font-weight: 600;
          }
          &:after {
            @media screen and (max-width: 768px) {
              font-size: 12px;
            }
          }
        }
        svg,
        img {
          width: 76px;
          margin-bottom: 8px;
          @media screen and (max-width: 768px) {
            width: 50px;
          }
        }
      }
    }
    .apiSvg {
      content: ""; /* Required for ::before to work */
      position: absolute;
      top: 0;
      left: -3%;
      width: 80px;
      height: 80px;
      background: url(../../../assets/images/api-interface.svg) no-repeat;
      background-size: contain;
      border-radius: 50%; /* Makes it circular */
      offset-path: path(
        "M1 6.00002C43 105.333 204.6 290 515 234C825.4 178 771.667 71.3333 706 25C626.667 1.66668 459.4 -25.2 425 54C382 153 868 311 969 234C1070 157 800 -27 1256 37C1620.8 88.2 1696 149 1688 173"
      );
      animation: move 300s linear infinite;
      opacity: 0.4;
      z-index: -1;
    }
    .screenSvg {
      content: ""; /* Required for ::before to work */
      position: absolute;
      top: 40%;
      left: -7%;
      width: 80px;
      height: 80px;
      background: url(../../../assets/images/mobile-app.svg) no-repeat;
      background-size: contain;
      border-radius: 50%; /* Makes it circular */
      offset-path: path(
        "M13 248C35.6666 383 140.8 631 380 543C679 433 714 153 538 135C362 117 192 192 55 370C-82 548 86 852 258 809C430 766 979 356 944 224C916 118.4 941 31.3333 957 1"
      );
      animation: move 200s linear infinite;
      opacity: 0.3;
      z-index: -1;
    }
    .availSvg {
      content: ""; /* Required for ::before to work */
      position: absolute;
      top: 0;
      right: 34%;
      width: 80px;
      height: 80px;
      background: url(../../../assets/images/availability.svg) no-repeat;
      background-size: contain;
      border-radius: 50%; /* Makes it circular */
      offset-path: path(
        "M592 805C378 816.667 -39.2 818.8 3.99997 734C58 628 294 559 398 596C502 633 713 237 524 1"
      );
      animation: move 100s linear infinite;
      opacity: 0.5;
      z-index: -1;
    }
  }
  .experience {
    display: grid;
    align-items: center;
    align-content: center;
    position: relative;
    padding-left: 20%;
    position: relative;
    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
    .exp {
      display: flex;
      flex-wrap: nowrap;
      gap: 2rem;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      overflow-x: auto;
      width: 80dvw;
      padding: 0 4rem 50px 0;
      @media screen and (max-width: 768px) {
        padding: 0 20px 50px 0;
        gap: 1rem;
        width: 100dvw;
      }
      .cInfo {
        scroll-snap-align: start;
        min-width: 45dvw;
        background-color: rgba(53, 53, 53, 0.2);
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          min-width: 80svw;
        }
        .details-wrapper {
          position: relative;
          padding: 1.5rem 2rem;
          height: calc(100% - 6px);
          width: calc(100% - 6px);
          z-index: 4;
          background-color: #353535;
          border-radius: 10px;
          // opacity: 0.9;
          border-radius: inherit;

          @media screen and (max-width: 768px) {
            padding: 1rem;
          }
          .cName {
            font-size: 20px;
            font-weight: 700;
            column-gap: 10px;
            position: relative;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -1px;
              width: 100%;
              height: 1px;
              background: linear-gradient(
                to right,
                transparent,
                #9b9b9b,
                transparent
              );
              z-index: -1;
            }
          }
          .roleDetails {
            @media screen and (max-width: 768px) {
              font-size: 12px;
            }
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              li {
                padding-bottom: 10px;
                strong {
                  background: linear-gradient(
                      to right,
                      rgba(100, 200, 200, 1),
                      rgba(100, 200, 200, 1)
                    ),
                    linear-gradient(
                      to right,
                      rgba(255, 0, 0, 1),
                      rgba(255, 0, 180, 1),
                      rgba(0, 100, 200, 1)
                    );
                  background-size: 100% 0.1em, 0 0.1em;
                  background-position: 100% 100%, 0 100%;
                  background-repeat: no-repeat;
                  transition: background-size 400ms;
                  &:hover,
                  &:focus {
                    background-size: 0 0.1em, 100% 0.1em;
                  }
                }
              }
            }
          }
          .cLogo {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            animation: fall-Down 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
              forwards;
            img {
              background-color: #353535;
              padding: 10px;
              border-radius: 5px;
              max-width: 100px;
              @media screen and (max-width: 768px) {
                max-width: 70px;
              }
            }
            &.cLogo1 {
              bottom: -47px;
            }
            &.cLogo2 {
              bottom: -18px;
            }
            &.cLogo3 {
              bottom: -15px;
            }
            &.cLogo4 {
              bottom: -16px;
            }
            &.cLogo5 {
              bottom: -14px;
            }
            &.cLogo6 {
              bottom: -35px;
            }
          }
        }

        &:hover::before {
          opacity: 1;
        }
        &::before {
          background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(23, 128, 177, 0.1),
            transparent 40%
          );
          z-index: 3;
          border-radius: inherit;
        }
        &::after {
          background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(23, 128, 177, 0.4),
            transparent 40%
          );
          z-index: 1;
          border-radius: inherit;
        }
        &::before,
        &::after {
          border-radius: inherit;
          content: "";
          height: 100%;
          left: 0px;
          opacity: 0;
          position: absolute;
          top: 0px;
          transition: opacity 500ms;
          width: 100%;
        }
      }
      // &:hover{
      //   animation: hScroll 100ms ease-in-out forwards;
      // }
      &:hover > .cInfo::after {
        opacity: 1;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2rem;
      width: 15rem;
      height: 24rem;
      background: url(../../../assets/images/exp.svg) no-repeat;
      background-size: contain;
      background-position: left center;
      z-index: 2;
      opacity: 0.8;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .contact {
    gap: 40px;
    .myself {
      position: relative;
      width: 45%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .info {
      .heading {
        font-size: calc(12px + 2svw);
      }
      .intro {
        font-size: calc(12px + 1svw);
      }
      .email,
      .phone {
        text-decoration: none;
        span {
          background: linear-gradient(to right, transparent, transparent),
            linear-gradient(
              to right,
              rgba(255, 0, 0, 1),
              rgba(255, 0, 180, 1),
              rgba(0, 100, 200, 1)
            );
          background-size: 100% 0.1em, 0 0.1em;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;
          &:hover,
          &:focus {
            background-size: 0 0.1em, 100% 0.1em;
          }
        }
      }
    }
  }

  //animation for into and outof view
  @media screen and (min-width: 768px) {
    .in-view {
      .bannerText {
        * {
          animation: slideUp 0.5s forwards;
        }
      }
      .heroSvg {
        animation: slideToLeft 0.5s forwards;
      }
      .heading,
      .intro,
      .skillset {
        animation: slideUp 0.5s forwards;
        picture {
          span {
            animation: slideUp 0.2s ease-out forwards;
          }
        }
      }
      .heading {
        animation: slideUp 0.5s forwards, headingA 0.4s forwards;
      }
      .intro {
        span {
          position: relative;
          display: inline-block;
          overflow: hidden;
          border-radius: 50px;
          padding: 5px 10px;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            animation: revealText 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }
        }
      }
      .exp {
        .cInfo {
          animation: scrollPeek 0.4s ease-out;
          animation-delay: 2s;
        }
      }
      &.no-animation * {
        animation: none;
      }
    }
    // .out-of-view {
    //   .bannerText {
    //     * {
    //       animation: slideDown 0.5s forwards;
    //       // opacity: 0;
    //       animation-timeline: scroll();
    //     }
    //   }
    //   .heading,
    //   .intro,
    //   .skillset {
    //     animation: slideDown 0.5s forwards;
    //     picture {
    //       span {
    //         animation: slideDown 0.5s forwards;
    //       }
    //     }
    //   }
    // }
    @keyframes slideUp {
      from {
        opacity: 0;
        transform: translateY(100%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes slideDown {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(100%);
      }
    }
    @keyframes slideToLeft {
      from {
        opacity: 0;
        transform: translateX(100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    @keyframes slideToRight {
      from {
        opacity: 1;
        transform: translateX(0);
      }
      to {
        opacity: 0;
        transform: translateX(100%);
      }
    }
    @keyframes headingA {
      0% {
        letter-spacing: 1rem;
        filter: blur(2px);
      }
      100% {
        letter-spacing: normal;
        filter: blur(0);
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .scroll-indicator {
    position: fixed;
    left: 0; /* Adjust positioning as needed */
    bottom: 25px; /* Adjust positioning as needed */
    width: 100%;
    height: 2px; /* Fills the entire viewport height */
    background-color: $secondry-color; /* Semi-transparent black */
    transition: opacity 0.2s ease-in-out; /* Smooth transition effect */
    z-index: 100;
  }
}

//animations
@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px) rotate(-2deg);
  }
  50% {
    transform: translateX(-5px) rotate(2deg);
  }
  75% {
    transform: translateX(3px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes float {
  0% {
    transform: translate(-100vw, -10vh) rotate(0deg);
  }
  25% {
    transform: translate(20vw, 10vh) rotate(100deg);
  }
  50% {
    transform: translate(30vw, 20vh) rotate(45deg);
  }
  75% {
    transform: translate(60vw, 10vh) rotate(0deg);
  }
  100% {
    transform: translate(120vw, 30vh) rotate(180deg);
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes scrollPeek {
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes revealText {
  0% {
    width: 0;
    background-color: #ff9800;
  }
  50% {
  }
  100% {
    right: 100%;
    background-color: transparent;
  }
}
