<section class="content-section container-fluid p-0">
    <section class="banner">
        <h1 class="bannerText m-0">Rohan Gosavi</h1>
        <h2 class="m-0">Check out my photos and reels</h2>
    </section>
    <section class="grid-container p-3">
        <span *ngFor="let post of posts" class="image-container" title=".:: {{extractCaption(post.caption)}} ::.">
            <img *ngIf="post.media_url.includes('.webp')" [src]="post.media_url" alt="{{extractCaption(post.caption)}}"
                class="img-item">
            <!-- <video *ngIf="post.media_url.includes('.mp4')" class="video-item" controls playOnHover>
            <source src="{{post.media_url}}" type="video/mp4">
          </video> -->
          <caption class="d-flex justify-content-between">.:: {{extractCaption(post.caption)}} ::. <span>{{post.timestamp | date}}</span></caption>
        </span>
    </section>
</section>