<div class="content-section container-fluid">
    <h3 class="heading text-left text-md-center px-2 px-md-5 mt-4 mt-md-5">8+ years of experience as a front-end developer delivering solutions for a wide
        range of multinational clients across diverse industries. I bring strong expertise in the healthcare domain,
        along with experience in building e-learning platforms.<br /><br />
        Please see project highlights below</h3>
    <section class="projects d-flex justify-content-center flex-wrap mt-5 mb-5">
        <div class="project project1">
            <div>
                <h4>E-Learning Solution</h4>
                <p>Created Engaging E-Learning Solutions for college and school students, fostering knowledge
                    acquisition
                    through:</p>
            </div>
            <ul>
                <li>Interactive Applications and Games: Developed applications and gamified elements using HTML, CSS,
                    JavaScript, and jQuery</li>
                <li>Enhanced Learning Experiences: Promoted active engagement and knowledge retention for students</li>
            </ul>
        </div>
        <div class="project project2">
            <div>
                <h4>Web Applications for medical firm</h4>
                <p>Developed web applications for pharmaceutical companies facilitating collaboration among doctors,
                    nurses,
                    and healthcare professionals across multiple hospitals and locations. These applications enabled:
                </p>
            </div>
            <ul>
                <li>
                    Real-time coordination and information sharing for patient care.
                </li>
                <li>
                    Features like Meetings, Live Webinars, and document sharing (PDFs) using HTML, CSS, JavaScript, and
                    jQuery.
                </li>
                <li>
                    Deployment on platforms like SDL Tridion with version control using tools like SVN.
                </li>
            </ul>
        </div>
        <div class="project project3">
            <div>
                <h4>Web Applications for Streamlining Hospital Operations in India</h4>
                <p>Developed a web application to enhance efficiency in Indian hospitals, featuring:
                </p>
            </div>
            <ul>
                <li>Inventory Management: Real-time tracking and management of medical supplies</li>
                <li>Pharmaceutical Data Sharing: Secure platform for sharing essential drug information</li>
                <li>Patient Onboarding and Discharge Management: Streamlined processes for patient intake and discharge
                </li>
                <li>Sales and Finance Tracking: Integrated system for managing medicine sales and financial data (HTML,
                    CSS, JavaScript, Angular)</li>
                <li>Single Sign-On (SSO): Seamless login access to multiple hospital applications</li>
                <li>IFrame Integration: Unified view of various hospital applications within a single platform.</li>
            </ul>
        </div>
        <div class="project project4">
            <div>
                <h4>Web Application for a US based medical company</h4>
                <p>Streamlined Healthcare Data Management</p>
            </div>
            <ul>Developed a web application using Angular and PrimeNG to empower physicians and nurses, featuring:

                <li>Simplified Data Entry: Enhanced user experience for entering patient data</li>
                <li>Meeting Management: Streamlined scheduling and invitation system for healthcare professionals</li>
                <li>Inventory Control: Real-time tracking and management of medical supplies</li>
                <li>Longitudinal Data Analysis: Enabled year-to-year data comparison for informed decision-making,
                    including
                    complex formulations</li>
            </ul>
        </div>
        <div class="project project5">
            <div>
                <h4>Number of Fully responsive websites</h4>
                <p>Developed Fully Responsive Websites</p>
            </div>
            <ul>
                <li>Ensured seamless user experience across all major browsers (Chrome, Firefox, Internet Explorer,
                    Edge, Safari)</li>
                <li>Video chapters playing on button click</li>
                <li>Chapter-wise synchronized transcript display</li>
                <li>Achieved pixel-perfect designs for a visually appealing presentation</li>
                <li>Utilized HTML, CSS, JavaScript, and jQuery for front-end development</li>
                <li>Leveraged SDL Tridion as a robust content management system (CMS) for hosting</li>
                <li>Maintained code version control with SVN for enhanced collaboration and maintainability</li>
            </ul>
        </div>
        <span class="d-block">There are many more projects i have worked on but we can discuss them in person</span>
    </section>
</div>