<div class="content-section container-fluid">
  <section class="about-me d-flex justify-content-center flex-wrap mx-auto">
    <div class="heading text-center">
      <h2>Rohan Gosavi</h2>
      <h3>Photographer | Sportperson | Trekker | Traveller | Cosmos Enthusiast</h3>
      <p class="mt-5 mb-5">Ever wondered what makes me tick? Let me tell you, it's a whirlwind of passions!</p>
      <div class="d-flex justify-content-center flex-column mt-5">
        <span>Scroll</span>
        <span class="arrow mt-2"><i class="fa fa-angles-down"></i></span>
      </div>
    </div>
    <article class="d-flex justify-content-center align-items-center flex-wrap">
      <div
        #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center flex-md-row-reverse mt-3 p-3 p-md-4">
        <img class="" src="assets/images/photographer.svg" alt="photographer">
        <p class="px-0 px-md-3"><strong>Click-clack, goes the shutter!</strong> I'm a photography enthusiast, and capturing
          the world's beauty, one frame at a time, is my jam. (Pssst... check out my amazing shots in the header link!)
        </p>
      </div>
      <div #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mt-3 p-3 p-md-4"> <img
          class="" src="assets/images/coding.svg" alt="coding">
        <p class="px-0 px-md-3"><strong>Coding? More like code magic!</strong> Ever since I discovered this sorcery in
          school, where lines of code turn into screen wonders, I was hooked. The possibilities are endless, and that's
          what excites me the most. (Maybe even more than those fancy foreign trips software engineers get to take...
          just kidding... mostly. )</p>
      </div>
      <div
        #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center flex-md-row-reverse mt-3 p-3 p-md-4">
        <img class="" src="assets/images/football.svg" alt="football">
        <p class="px-0 px-md-3"><strong>Weekend warrior alert!</strong> When I'm not coding or clicking away, you'll find
          me on the field, channeling my inner CR7 or King Kohli. Football and cricket are my go-to stress busters, and
          the competitive spirit keeps me on my toes.</p>
      </div>
      <div #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mt-3 p-3 p-md-4"> <img
          class="" src="assets/images/camping.svg" alt="camping">
        <p class="px-0 px-md-3"><strong>Nature's calling</strong>, and I must go! Trekking is my personal meditation
          session. Immersing myself in the beauty of nature, one step at a time, is pure bliss. It's a chance to
          recharge and come back feeling refreshed and inspired.</p>
      </div>
      <div
        #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center flex-md-row-reverse mt-3 p-3 p-md-4">
        <img class="" src="assets/images/cosmos.svg" alt="cosmos">
        <p class="px-0 px-md-3"><strong>Starstruck by the Cosmos</strong> Look up, man! The universe is
          freaking awesome, and I can't get enough of it. Whether it's black holes, distant galaxies, or the
          mind-blowing vastness of space, I'm constantly trying to learn more about the cosmos. Maybe one day I'll even
          get to see it for myself... just sayin'.</p>
      </div>
      <div #interest class="interest d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center mt-3 p-3 p-md-4">
        <strong>That's a wrap!</strong>
        <p>Thanks for stopping by my portfolio. Feel free to reach out anytime - I love connecting with fellow
          enthusiasts!</p>
      </div>
      <div class="mb-5">P.S. This is just a glimpse into my world. There's always more to discover, and I'm excited to see where the
        journey takes me next! </div>
    </article>
  </section>
</div>