@import "../../../styles.scss";

header {
  background-color: $header-bg-color;
  border-bottom: 2px solid $primary-color;

  .navbar {
    padding: 0.5rem 1rem;
    min-height: 60px;
    border: none;
    background: linear-gradient(45deg, #4682a9, transparent, transparent);
  }

  .navbar-brand {
    .logo {
      height: 50px; 
      width: auto; 
    }
    .logo {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    .fname,
    .lname {
      color: #fff;
      transition: font-weight 0.3s ease, color 0.3s ease;
    }
    &:hover {
      .logo {
        opacity: 0.4;
      }
      .fname,
      .lname {
        color: #111;
        font-weight: bold;
      }
    }
  }

  .btn {
    background-color: $primary-color;
  }
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: inline-block;
      text-align: center;
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 50%;

      .fa {
        font-size: 20px;
      }
      &.igLogo:hover {
        color: #8a3ab9;
      }

      &.fbLogo:hover {
        color: #3b5998;
      }

      &.ytLogo:hover {
        color: #c4302b;
      }
    }
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      & a {
        color: #fff;
        display: block;
        padding: 1rem;
        text-decoration: none;
      }

      .sublinks {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style: none;
        margin: 2px 0 0 0;
        padding: 0;

        li a {
          background-color: #555;
          color: #fff;
          display: block;
          padding: 1rem;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: #555;
        .sublinks {
          display: block;
        }
      }

      &.sub-menu {
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          border: solid rgb(230, 230, 230);
          border-width: 0 1px 1px 0;
          padding: 3px;
          transform: rotate(45deg);
          position: absolute;
          top: 40px;
          left: 46%;
        }

        &.active:before {
          content: "";
          transform: rotate(180deg);
        }
      }
    }
  }

  .navbar-toggler {
    border: none; // Remove the default border from the toggle button
    background-color: transparent; // Set the background color of the toggle button to transparent
  }
}
